{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'New Subscription' %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'subscriptions' %}
{% set groups = craft.contentSubscriptions.getMailGroupLabels %}

{% set crumbs = [
    { label: 'Content Subscriptions' | t('content-subscriptions'), url: url('content-subscriptions') },
    { label: 'Subscriptions' | t('content-subscriptions'), url: url('content-subscriptions/subscriptions') },
    { label: 'New' | t('content-subscriptions'), url: url('content-subscriptions/subscriptions/new') },
] %}

{% block content %}

{{ forms.hidden({
    name: 'action',
    value: 'content-subscriptions/subscriptions/save-subscription'
}) }}

{% include 'content-subscriptions/_includes/subscriptionFormFields' with { 'subscription': ''} %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'content-subscriptions/_includes/_sidebar' with {'element': ''} %}
        {{ forms.lightSwitchField({
            label: 'Mail verified'|t('content-subscriptions'),
            name: 'verificationStatus',
            on: false
        }) }}
    </div>
{% endblock %}