{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'New Subscription' %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'subscriptions' %}
{% set groups = craft.mailSubscriptions.getMailGroupLabels %}

{% block content %}

{{ forms.hidden({
    name: 'action',
    value: 'mail-subscriptions/subscriptions/save-subscription'
}) }}

{% include 'mail-subscriptions/_includes/subscriptionFormFields' with { 'subscription': ''} %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'mail-subscriptions/_includes/_sidebar' with {'element': ''} %}
        {{ forms.lightSwitchField({
            label: 'Mail verified'|t('mail-subscriptions'),
            name: 'verificationStatus',
            on: false
        }) }}
    </div>
{% endblock %}