<fieldset>
    <legend class="h6">Content Subscription</legend>
    <div class="meta"><div id="content-subscription-field" class="field lightswitch-field" data-attribute="content-subscription">
            <div class="heading"><label id="content-subscription-label" for="content-subscription">Notify subscribers</label></div>
            <div class="input ltr">
                <button type="button" id="content-subscription" class="lightswitch off" role="switch" aria-checked="true" aria-labelledby="content-subscription-label">
                    <div class="lightswitch-container">
                        <div class="handle"></div>
                    </div>
                    <input type="hidden" name="content-subscription" value="0">
                </button>
            </div>
        </div>
    </div>
</fieldset>
