{% import '_includes/forms' as forms %}

<div id="general">
    {{ forms.selectField({
        label: 'Section'|t('content-subscriptions'),
        name: 'section',
        value: group.sectionId,
        errors: group.getErrors('section'),
        options: sections,
        required: true,
        first: true,
    }) }}

    {{ forms.textField({
        label: 'Group name'|t('content-subscriptions'),
        name: 'groupName',
        errors: group.getErrors('groupName'),
        required: true,
        value: group.groupName
    }) }}
</div>
