{% import '_includes/forms' as forms %}

<div id="general">
    {{ forms.selectField({
        label: 'Section'|t('content-subscriptions'),
        name: 'section',
        value: (group) ? group.sectionId : '',
        options: sections,
        required: true,
        first: true,
    }) }}

    {{ forms.textField({
        label: 'Group name'|t('content-subscriptions'),
        name: 'groupName',
        required: true,
        value: (group) ? group.groupName : ''
    }) }}
</div>
