{% import '_includes/forms' as forms %}

<div id="mail" class="hidden">
    {{ forms.textField({
        label: 'Mail subject'|t('content-subscriptions'),
        name: 'emailSubject',
        required: true,
        value: group.emailSubject,
    }) }}

    {{ forms.textAreaField({
        label: 'Mail Message'|t('content-subscriptions'),
        name: 'emailMessage',
        instructions: setInstructions(['firstName', 'lastName','email', 'unsubscribeLink']),
        required: true,
        value: group.emailBody,
        rows: 8
    }) }}
</div>