{% import '_includes/forms' as forms %}

<div id="opt-in" class="hidden">
    {{ forms.textField({
        label: 'Opt-In confirmation mail subject'|t('content-subscriptions'),
        name: 'optInSubject',
        required: true,
        value: (group) ? group.optInSubject : ''
    }) }}

    {{ forms.textAreaField({
        label: 'Opt-In confirmation mail message'|t('content-subscriptions'),
        name: 'optInBody',
        instructions: setInstructions(['firstName', 'lastName','email', 'verificationLink']),
        required: true,
        value: (group) ? group.optInBody : '',
        rows: 8
    }) }}
</div>
