{% import '_includes/forms' as forms %}

<div id="opt-in" class="hidden">
    {{ forms.textField({
        label: 'Opt-In confirmation mail subject'|t('mail-subscriptions'),
        name: 'optInSubject',
        value: (group) ? group.optInSubject : ''
    }) }}

    {{ forms.textAreaField({
        label: 'Opt-In confirmation mail message'|t('mail-subscriptions'),
        name: 'optInBody',
        value: (group) ? group.optInBody : '',
        rows: 8
    }) }}
</div>
