{% import '_includes/forms' as forms %}

<div id="unsubscribe" class="hidden">
    {{ forms.textField({
        label: 'Unsubscribe message'|t('content-subscriptions'),
        name: 'unsubscribeMessage',
        required: true,
        value: group.unsubscribeMessage,
        errors: group.getErrors('unsubscribeMessage'),
    }) }}
</div>
