{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit Mail Group' %}
{% set selectedSubnavItem = 'groups' %}
{% set fullPageForm = true %}

{% set sections = craft.mailSubscriptions.getSections(true) %}

{% block content %}

    {{ forms.hidden({
        name: 'action',
        value: 'mail-subscriptions/groups/update-mail-group'
    }) }}

    {{ forms.hidden({
        name: 'id',
        value: group.id
    }) }}

    {% include 'mail-subscriptions/_includes/groupFormFields' %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'mail-subscriptions/_includes/_sidebar'  with {'element': group }%}
        {{ forms.lightSwitchField({
            label: 'Allow unsubscribing'|t('mail-subscriptions'),
            name: 'enableUnsubscribing',
            on: group.enableUnsubscribing
        }) }}
    </div>
{% endblock %}