{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'Edit Mail Group' %}
{% set selectedSubnavItem = 'groups' %}
{% set fullPageForm = true %}

{#{% set formActions = [
    {
        label: 'Save and continue editing'|t('mail-subscriptions'),
        retainScroll: true,
        shortcut: true,
        action: 'mail-subscriptions/groups/edit/{group.id}'
    },
    {
        label: 'Save and add another'|t('mail-subscriptions'),
        action: '/mail-subscriptions/groups/new',
        shortcut: true,
        shift: true,
    },
    {
        label: 'Delete'|t('mail-subscriptions'),
        confirm: 'Are you sure you want to delete this?'|t('plugin-handle'),
        action: 'mail-subscriptions/groups',
        destructive: true,
    },
] %}#}

{% set sections = craft.mailSubscriptions.getSections(true) %}

{% block content %}

    {{ forms.hidden({
        name: 'action',
        value: 'mail-subscriptions/groups/update-mail-group'
    }) }}

    {{ forms.hidden({
        name: 'id',
        value: group.id
    }) }}

    {% include 'mail-subscriptions/_includes/groupFormFields' %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'mail-subscriptions/_includes/_sidebar' %}
    </div>
{% endblock %}