{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'New Mail Group' %}
{% set selectedSubnavItem = 'groups' %}
{% set fullPageForm = true %}

{% set sections = craft.mailSubscriptions.getSections(true) %}

{% block content %}

    {{ forms.hidden({
        name: 'action',
        value: 'mail-subscriptions/groups/save-mail-group'
    }) }}

    {% include 'mail-subscriptions/_includes/groupFormFields' with { group: ''} %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {% include 'mail-subscriptions/_includes/_sidebar' with {'element': ''} %}
        {{ forms.lightSwitchField({
            label: 'Allow unsubscribing'|t('mail-subscriptions'),
            name: 'enableUnsubscribing',
            on: true
        }) }}
    </div>
{% endblock %}